<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="library" class="pl.sda.spring.Library">
        <property name="book" ref="book"/>
    </bean>
    <bean id="book" class="pl.sda.spring.Book">
        <property name="author" value="JRR Tolkien"/>
        <property name="releaseDate" value="1954"/>
        <property name="title" value="Lord of The Rings"/>
    </bean>
</beans>