<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <title>Add Vet Speciality</title>
</head>

<body>

<div class="container">

  <h3>New Vet Speciality</h3>
  <hr>

  <p class="h4 mb-4">Add vet speciality</p>

  <div th:if="${param.success}">
    <p class="text-danger">Added vet speciality!</p>
  </div>

  <form action="#" th:action="@{/createSpeciality}"
        th:object="${vetSpeciality}" method="POST" >

    <input type="hidden" th:field="*{id}">

    <input type="text" th:field="*{name}"
           class="form-control mb-4 w-25" placeholder="New speciality">

    <button type="submit" class="btn btn-info col-2">Save</button>

  </form>

  <hr>
  <a th:href="@{/pets}">Back to Pet List</a>

</div>


</body>

</html>






